:root {
    --spotify-green: #1db954;
    --spotify-black: #191414;
    --spotify-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    font-size: 46px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    background-color: var(--spotify-white);
    color: var(--spotify-black);
}